{% extends 'index.html' %}
{%block body%} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body>
    <form action="#" method="POST">
        <input type="text" name="update_task">
        <button type ="submit"> UPDATE </button>
    </form>

    {% for task in todo %}
        <li>
            {{task}}
            <a href = "{{url_for ('update', task = task)}}"> UPDATE </a>
        </li>
    {% endfor %}
    {% endblock %}
</body>
</html>






